body {
  text-align: center;
  margin-left: auto;
}

.grid-container {
  max-width: 600px;
  display: inline-block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: url('../img/molot.png'), pointer;
}

.grid-cell {
  width: 140px;
  height: 140px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  background: rgb(243, 216, 16);
}

.grid-cell:last-child {
  margin-right: 0;
}

.grid-cell__img {
  padding: 10px 10px;
}

.modal {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 50%; 
  margin-left: -150px;
  margin-top: -150px;
  text-align: center;
  align-items: center;
  font-size: 25px;
  background-color: rgb(199, 28, 28);
  display: flex;
}


.user-got-points {
  color: green;
  margin: 30px 0;
  text-align: center;
  font-size: 25px;
}

.user-got-misses {
  color: red;
  margin: 30px 0;
  text-align: center;
  font-size: 25px;
}

